Source: alive
Section: Networking
Priority: optional
Maintainer: Joachim Nilsson  <joachim.nilsson@member.fsf.org>
Standards-Version: 3.0.1

Package: alive
Architecture: any
Depends: ${shlibs:Depends}
Replaces: qadsl
Conflicts: qadsl
Provides: qadsl
Description: Auto-login & keep-alive for Internet connections.
 Frustrated about having to "log in" to your flat-rate Internet connection?
 .
 GNU Alive is a small utility that automates login processes.  Currently
 it is somewhat limitied to accessing Internet Service Providers, such as
 Telia, COMHEM, Tiscali and others.  But it can be used to periodically log
 in to any online service and fetch a record, albeit limited to HTTP.
 .
 It features a keep-alive daemon that periodically (re)connects to your ISP
 ensuring that your connection to the Internet is not logged out all of a
 sudden.  Very useful if you, for instance, want to be sure to have access
 to your home computer from work.
 .
 GNU Alive works for any type of connection where your ISP has put a login
 server in your way.
 .
 GNU Alive was previously known as qadsl.
