Source: qadsl
Section: unknown
Priority: optional
Maintainer: Joachim Nilsson  <joachim.nilsson@member.fsf.org>
Standards-Version: 3.0.1

Package: qadsl
Architecture: any
Depends: ${shlibs:Depends}
Description: Auto-login & keep-alive for Internet connections.
 qadsl - In pursuit of a free Internet.
 .
 qadsl is a small program made to automatically login to Telia, COMHEM,
 Tiscali and other Internet Service Providers, ISPs.
 .
 qadsl works for any type of connection; *DSL, fiber, anything where
 your ISP has put a login server in your way.
